:root{
  /* --backgnd-color: linear-gradient(to bottom, #eef, #aaf); */
  /* --backgnd-color: #ddd; */
  --backgnd-color:#3c40c6;
  /* --text-color: #4a47a3; */
  --text-color: white;
  --text-color2: #afacff;
  --input-bkgnd: #224;
  --font-one: 1rem;
  --font-two: 0.7rem;
  /* --btn-backgnd: #baf; */
  --btn-backgnd: black;
  /* --btn-color: #024; */
  --btn-color: #fff;
  --item-border: 1px solid #444;
  --item-margin: 0.5rem auto;
  --item-padding: 0.3rem 1.5rem;
  --btn-padding: 0.3rem 1rem;
  --border-radius: 0.3rem
}

body{
  margin:0;
  padding:0;
  color: var(--text-color);
  min-height: 100vh;
  justify-content:center;
  text-align: center;
  font-family: 'Verdana','times';
  background: var( --backgnd-color);
}
.info{
  color: var(--text-color);
  font-size: var(--font-one);
}
.form-style{
  width: 90%;
  background: var(--input-backgnd);
  background: #ccc;
  color: var(--text-color);
    color: #333;
  border: var(--item-border);
  outline: none;
  /* display: block; */
  margin: var(--item-margin);
  padding: var(--item-padding);
  font-size: var(--font-one);
  border-radius: var(--border-radius);
  border: none;
  border-bottom: 2px solid var(--text-color)
}
.form-search{
  width: 100%;
  background: var( --backgnd-color);
  background: #ccc;
  color: var(--text-color);
  color: #333;
  border: var(--item-border);
  outline: none;
  display: inline;
  margin: var(--item-margin);
  padding: var(--item-padding);
  font-size: var(--font-one);
  border-radius: var(--border-radius);
  border: none;
  
}
.form-search:focus{
  border-bottom: 2px solid var(--text-color)
}
.form-btn{
  background: var(--btn-backgnd);
  color: var(--btn-color);
  padding: var(--btn-padding);
  font-size: var(--font-one);
  border-radius: var(--border-radius);
  outline: none;
  float:right;
 
  /* transform:translate(300px,15%); */
  font-weight: 600;
  /* position: absolute; */
}
.search-btn{
  border:none;
  background: none;
  outline: none;
  position: absolute;
  font-size:1.3rem;
  transform: translate(-30px,40%);
  /* right: 20px */
}
.form_box{
  position:relative;
  width: 50vw;
  display:flex;
  align-items:center;
  justify-content:center
}
.search_box{
  position:relative;
  width: 50vw;
 
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    background: #ddd;
    transition: all 1s ease-out;
    transform: translate(-100%);
    background: black;
    z-index: 999;
  }
  .slide {
    transform: translate(0);
    display: block;
  }
@media screen and (max-width: 590px){
  .form_box, .search_box{
      width: 100%;
   }
}
